.btn {
  padding: 1rem 5rem;

  &-submit {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 3px solid var(--color-secondary);
    border-radius: 10px;
    outline: none;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    &:active {
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }
  }
}