.main {
  padding: 0 25rem;
}

.section-about {
  // padding: 0 20%;
  max-width: 1000px;
  margin: 20rem auto;
}

.section-experience {
  max-width: 1000px;
  margin: 20rem auto;
}

.section-projects {
  max-width: 1000px;
  margin: 20rem auto;
}


.section-contact {
  max-width: 1000px;
  margin: 20rem auto;
}