.about-me {

  &__text {
    display: block;

    &--1 {
      margin-bottom: 2rem;
    }

    &--2 {
      margin-bottom: 2rem;
    }

    &--3 {
      margin-bottom: 2rem;
    }
  }

  &__text-container {

  }

  &__skills {

  }

  &__skills &__skill-item {
    display: block;
    list-style: none;
    position: relative;
    padding-left: 2rem;
    // background-color: aqua;

    &::before {
      content: '*';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__photo {
    // display: block;
    width: 30rem;
    height: 30rem;
    background-image: url(../img/me.jpg);
    background-size: cover;
    background-position: center;
  
    border-radius: 5px;
    border: 2px solid var(--color-tertiary);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.8);
    flex-shrink: 0;
  
    // &::after {
    //   content: "";
    //   display: block;
    //   width: 30rem;
    //   height: 30rem;
    //   position: relative;
    //   top: 0;
    // }
  }
}